html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#counter {
    text-shadow: 1px 1px 3px #333333;
    color: white;
    position: absolute;
    padding: 10px;
    margin: 0;
    font-family: monospace;
    font-size: 1.5em;
    user-select: none;
}

#popup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: "Verdana", sans-serif;
    user-select: none;
}

#stream {
    width: 100%;
    height: 100%;
}