html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#counter {
    text-shadow: 1px 1px 3px #333333;
    color: white;
    position: absolute;
    padding: 10px;
    margin: 0;
    font-family: monospace;
    font-size: 1.5em;
    user-select: none;
}

#stream {
    width: 100%;
    height: 100%;
}

.popup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: system-ui, sans-serif;
    user-select: none;
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.popup h1 {
    font-size: 1.5em;
}

.popup p {
    color: #e1e1e1;
    line-height: 1.3;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .popup h1 {
        text-align: center;
    }

    .popup p {
        text-align: justify;
    }
}
